@model TestTrafficReports.Models.UserRolesChangeViewModel

@{
    /**/

    ViewBag.Title = "Редактирование ролей";
}

<h3>Редактирование ролей для пользователя @Model.User.Login</h3>


<form method="post">
    <input type="hidden" name="userId" value="@Model.User.Id" />
    <table>
        <tr>
            <td>Доступные роли</td>
        </tr>
        @foreach (var r in Model.AllRoles)
        {
            <tr>
                <td>
                    <input type="checkbox" name="roles" value="@r.Name" @(Model.UserRoles.Contains(r.Name) ? "checked=\"checked\"" : "") />@r.Name <br />
                </td>
            </tr>
        }
    </table>
    <br />
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
